@import url(./image/place-card__image.css);
@import url(./delete-icon/place-card__delete-icon.css);
@import url(./description/place-card__description.css);
@import url(./name/place-card__name.css);
@import url(./like-icon/place-card__like-icon.css);

.place-card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 360px;
}
